# Dependencies
node_modules/

# Environment Variables / Config
config.json
.env

# Build files (if you compile TS to JS)
dist/
out/

# IDE/System files
.vscode/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*