{
  "database": {
    "host": "localhost",
    "port": 3306,
    "user": "root",
    "password": "",
    "database": "node-mysql_api"
  },
  "secret": "YOUR_JWT_SECRET_HERE",
  "emailFrom": "info@example.com",
  "smtpOptions": {
    "host": "smtp.ethereal.email",
    "port": 587,
    "auth": {
      "user": "YOUR_ETHEREAL_USER",
      "pass": "YOUR_ETHEREAL_PASS"
    }
  }
}